<table class="table table-hover">
    <thead>
      <tr>
        <td>Task</td>
        <td>Description</td>
        <td>Completed</td>
        <td>Name</td>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
      <% completed = !task.completed_date.nil? %>
      <tr>
        <td <% if completed %>
          class="strikethru"
          <% end %>
          ><%= button_to "/tasks/#{task.id}/edit", method: :get, class: "btn info-btn btn-sm", title: "Edit Task", 'data-tooltip' => 'Edit Task' do %>
            <span class="glyphicon glyphicon-minus-sign" aria-hidden="true" aria-label="Edit Button"></span>
          <% end %> <%= task.name %></td>
        <td <% if completed %>
          class="strikethru"
          <% end %>
          ><%= task.description %></td>
        <td>
          <% if completed %>
            <%= task.completed_date.strftime("%b %-d, %Y") %>
          <% end %>
        </td>
        <td> <%= link_to task.person.name, "people/#{task.person_id}" %></td>
        <td>
          <a href="/tasks/<%= task.id %>" class="btn info-btn btn-sm tooltip-left" type="button" aria-label="Task Info Button" data-tooltip="Get Task Info">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
          </a>
          <% button_path = "/tasks/#{task.id}" %>
          <%= button_to button_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn info-btn btn-sm", title: "Delete Task", 'data-tooltip' => 'Delete Task'  do %>
            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true" aria-label="Delete Button"></span>
          <% end %>
          <%= button_to "#{button_path}/completed", method: :patch, class: "btn info-btn btn-sm tooltip-right", title: "Toggle Completed", 'data-tooltip' => 'Toggle Completed' do %>
            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" aria-label="Complete Button"></span>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
